*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    
}
/* banner styles starts */


.banner-image{
    width: 100%;
    position: absolute;
}
.banner-description{
    position:relative;
    
    text-align: right;
    top: 313px;
    right: 199px;
   
}
.banner-title{
    font-size: 45px;
}
.banner-subtitle{
    color:#444343;
    margin-top:20px;
    margin-bottom: 20px;
}
.text-primary{
    color:white;
    background-color: orange;
    border:0;
    padding: 10px;
    border-radius:5px;
}

/* failure area starts */
.failure{
    margin: 700px 400px 20px 296px;
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.failure-title{
    margin-left: 34px;
}
.failure-description{
    color:#444343;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:34px;
}
li{
    list-style: none;
}
/* my plans area starts */

.my_plans{
    margin-top:150px;
}
.all_plans{
    display:flex;
    gap:100px;
    margin-top:60px ;
    margin-bottom: 60px;
    justify-content: center;
}
.my_plan{
    text-align: center;
}
/* gradient area starts */

.grad-img{
    display: flex;
    width:80%;
    margin: 100px 200px;
  justify-content: center;
  background-image: url('./images/watch.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
    
}
.gradient-area{
    margin:100px 0px ;
}
.img-description{
    position: relative;
    top:0;
    left:241px;
    top:241px;
}
.img-title{
    color:white;
    font-size: 35px;
}
.text-orange{
    color:orange;
    background-color: white;
    border:0;
    padding:10px;
    margin-top: 20px;
    border-radius: 5px;
}
/* future area starts */

.future_area{
    margin-top: 456px;
    background-color: black;
    display: flex;
    gap:150px;
    justify-content: space-between;
  
    
}
.future_title,.future_description,.subscribe-title{
    color: white;
}
.future{
    padding:81px;
    margin-left:400px;
}
.subscribe{
    margin-right: 400px;
    padding: 81px;
}
.future_description{
    margin:20px 0px;
}
.sb_input{
    margin:20px 0px;
    width: 100%;
    height:31px;
    color:white;
    background-color: black;
    border-radius: 5px;
}
.email,.phone{
    color:white;
}
.phone{
    margin-bottom: 15px;
}
/* contact area starts */
.message{
    padding-top: 100px;
    padding-bottom: 50px;
}
.contact_area{
    background-color: #FFF8F3;
}
.message_form{
    text-align: center;
    margin:0px 50px;
}
.name{
    width: 13%;
    height: 31px;
    color:black;
    border:0
}
textarea{
    border:0;
}
