*{
    margin:0;
}
/* banner styles starts */


.banner-image{
    width: 100%;
    position: absolute;
}
.banner-description{
    position:relative;
    
    text-align: right;
    top: 313px;
    right: 199px;
   
}
.banner-title{
    font-size: 45px;
}
.banner-subtitle{
    color:#444343;
    margin-top:20px;
    margin-bottom: 20px;
}
.text-primary{
    color:white;
    background-color: orange;
    border:0;
    padding: 10px;
    border-radius:5px;
}

/* failure area starts */
.failure{
    margin: 700px 400px 20px 296px;
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.failure-title{
    margin-left: 34px;
}
.failure-description{
    color:#444343;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:34px;
}
li{
    list-style: none;
}
/* my plans area starts */

.my_plans{
    margin-top:150px;
}
.all_plans{
    display:flex;
    gap:100px;
    margin-top:60px ;
    margin-bottom: 60px;
    justify-content: center;
}
.my_plan{
    text-align: center;
}